
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      
      <div class="mb-5" >
        <h4 style="background-color:rgba(107,90,105,0.1);">タイトル</h4>
        <%= @list.name %>
      </div>
      
      <div class="mb-5">
        <h4 style="background-color:rgba(107,90,105,0.1);">説明</h4>
        <%= @list.body %>
      </div>
      
      <div class="mb-5">
        <h4 style="background-color:rgba(107,90,105,0.1);">ジャンル</h4>
        <%= @list.genre.name %>
      </div>
    
      <div class="mb-5">
        <div id="star-rate-<%= @list.id %>"></div>
          <script>
          $('#star-rate-<%= @list.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= @list.rate %>,
          });
          </script>
        <div class="">
        <%= @list.rate %>
        </div>
      </div>
    <%= link_to "編集する", edit_list_path(@list), class: "btn btn-sm btn-success w-25" %>
    <%= link_to "削除する", list_path(@list),method: :delete, class: "btn btn-sm btn-danger ml-5 w-25" %>
    </div>
  </div>
  <%= link_to "一覧へ",lists_path ,class: "mt-5" %>
</div>

